<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.allpracticals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UpdateCountry"
            android:label="@string/update_country"
            android:parentActivityName=".CountryListActivity" />
        <activity
            android:name=".AddCountryActivity"
            android:label="@string/add_record"
            android:parentActivityName=".CountryListActivity" />
        <activity
            android:name=".CountryListActivity"
            android:label="@string/nav_item_sqLiteDB"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RetrofitActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BottomNavActivity"
            android:label="Bottom Nav"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewPagerActivity"
            android:label="@string/activity_view_pager"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EasyImageActivity"
            android:label="@string/activity_easy_image"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserActivity"
            android:label="@string/activity_name_user"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>